
*{
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    
}


@media only screen and (max-width: 1440px) {


    body{

       background-image:url(images/bg-intro-desktop.png);
       background-color: hsl(0, 100%, 74%);
       background-repeat: no-repeat;
       position: relative;
       margin:4rem;
       font-family: "Poppins", sans-serif;

   }
   
   .container{

       margin-left: 6rem;
       margin-right: 6rem;

       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       
       grid-template-areas: 
       ". a"
       "b c";
   
   }



   .pitch{
    grid-area: a;
    margin-top: 1rem;
    max-width: 500px;
    color:white; 
    text-align: center;
    font-size:12px;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    padding:1rem;
    width: 480px;
    filter: drop-shadow(0px 6px 0px rgba(0, 0, 0, 0.1));

   }

   
   
   .text{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3rem;
    grid-area: b;
    color:white;
    display: block;
    margin-left: auto;


}


p{
 
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 16px;
    
}


 


   .formcontainer{
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 20px;
    grid-area: c;
    display: block;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    max-height: 400px;
    font-weight: 600;
    width: 480px;
   }
   



   .fname{
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 1rem;
    color:#333;
    border-radius: 5PX;
    border: 0.5px solid #999;
    width: 400px;
   }
   
   .lname{
        font-weight: 600;

        margin-bottom: 1rem;
        padding: 1rem;
        color:#333;
        border-radius: 5PX;
        border: 0.5px solid #999;
        width: 400px;
    }

    .uemail{
        font-weight: 600;
       
        margin-bottom: 1rem;
        padding: 1rem;
        color:#333;
        border-radius: 5PX;
        border: 0.5px solid #999;
        width: 400px;
        }

        .upassword{
            font-weight: 600;
            margin-bottom: 1rem;
            padding: 1rem;
            color:#333;
            border-radius: 5PX;
            border: 0.5px solid #999;
            width: 400px;
            }


   .claimbutton{
       margin-bottom: 1rem;
       font-size: 14px;
       text-transform: uppercase;
       padding: 15px;
       width: 200px;
       border-radius: 5px;
       background-color: hsl(154, 59%, 51%);
       color: white;
       border:none;
       filter: drop-shadow(0px 4px 0px rgba(36, 130, 90, 0.6));
       width: 400px;
       
   }

}






/* mobile view */
@media only screen and (max-width: 400px) {


    body{

        background-image:url(images/bg-intro-mobile.png);
        background-color:  hsl(0, 100%, 74%);
        background-repeat: no-repeat;

        position:relative;
        margin-left:1rem;
        margin-right:1rem;
  
   }
   
   .container{

    margin-left: 2rem;
    margin-right: 2rem;
   display:grid;
   grid-template-rows: 1fr;


   grid-template-areas: 
   "b"
   "a"
   "c";

}



.pitch{
grid-area: a;

color:white; 
text-align: center;
font-size:12px;
background-color: hsl(248, 32%, 49%);
border-radius: 10px;
padding:1rem;
padding-left: 7rem;
padding-right: 7rem;
width: 380px;
filter: drop-shadow(0px 6px 0px rgba(0, 0, 0, 0.1));

}



.text{
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
grid-area: b;
color:white;

}


h1{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 1rem;
}

p{

padding-bottom: 1rem;
font-weight: 400;
font-size: 16px;
}




.formcontainer{
margin-top: 2rem;
padding:2rem;

grid-area: c;
display: block;
text-align: center;
background-color: white;
border-radius: 10px;

font-weight: 600;
width: 380px;
max-height: 410px;
}




.fname{
font-weight: 600;
margin-bottom: 1rem;
padding: 1rem;
color:#333;
border-radius: 5PX;
border: 0.5px solid #999;
width: 300px;
}

.lname{
    font-weight: 600;

    margin-bottom: 1rem;
    padding: 1rem;
    color:#333;
    border-radius: 5PX;
    border: 0.5px solid #999;
    width: 300px;
}

.uemail{
    font-weight: 600;
   
    margin-bottom: 1rem;
    padding: 1rem;
    color:#333;
    border-radius: 5PX;
    border: 0.5px solid #999;
    width: 300px;
    }

    .upassword{
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 1rem;
        color:#333;
        border-radius: 5PX;
        border: 0.5px solid #999;
        width: 300px;
        }


.claimbutton{
   margin-bottom: 1rem;
   font-size: 14px;
   text-transform: uppercase;
   width: 200px;
   border-radius: 5px;
   background-color: hsl(154, 59%, 51%);
   color: white;
   border:none;
   filter: drop-shadow(0px 4px 0px rgba(36, 130, 90, 0.6));
   width: 300px;
   
}



  


}


/* same on both */
.iform{

    border-radius: 10px;
    font-weight: 600;

   }

.subtext{
    color:hsl(246, 25%, 77%); 
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    
    }

    .terms{
        color:hsl(0, 100%, 74%) ; 
        font-weight: 400;
        font-size: 10px;
        
        }